# Web Framework and Server
fastapi==0.109.2
uvicorn==0.27.1
python-multipart==0.0.9
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4


numpy==1.26.4
pandas==2.2.0
scipy==1.12.0


scikit-learn==1.4.0
tensorflow==2.16.1
torch==2.2.0
transformers==4.37.2
xgboost==2.0.3


python-dotenv==1.0.1
requests==2.31.0
python-dateutil==2.8.2
pytz==2024.1

# Dashboard Components
dash-bootstrap-components==1.5.0

# Text Processing
emoji==2.10.1
nltk==3.8.1
beautifulsoup4==4.12.3

# RSS Feed Processing
feedparser==6.0.11

